<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="my-4">
    <h2>홈</h2>
      <div sec:authorize="isAuthenticated()">
          <p th:text="|${principal.username}님 환영합니다.|"></p>
          <p th:text="|현재 ${principal.username} 님의 권한 : ${role}|"></p>
          <ul>
              <li th:text="|session.getId = ${#session.getId()}|"></li>
              <li th:text="|session.getAttributeNames = ${#session.getAttributeNames()}|"></li>
              <li th:text="|session.getCreationTime = ${#session.getCreationTime()}|"></li>
          </ul>
      </div>
      <div class="btn">
        <a th:href="@{/registry}">
            <button class="btn btn-lg btn-secondary">회원가입</button>
        </a>
        <a th:href="@{/login}">
            <button sec:authorize="!isAuthenticated()" class="btn btn-lg btn-dark">로그인</button>
        </a>
          <a th:href="@{/logout}">
              <button sec:authorize="isAuthenticated()" class="btn btn-danger btn-lg">로그아웃</button>
          </a>

        <hr class="my-4">
          <a th:href="@{/admin/home}"><button class="btn btn-lg btn-dark">ADMIN page 접근 </button></a>
          <a th:href="@{/manager/home}"><button class="btn btn-lg btn-dark">MANAGER page 접근</button></a>
      </div>
  </div>
</div>
</body>
</html>